@import "vars/palette";
.item-editor {
  background: white;
  padding: 1em 2em 2em 2em;
  max-width: 750px;
  width: 100%;
  user-select: none;
}
.item-editor button{
  cursor: pointer;
}
.content--editable{
  position: relative;
  cursor: pointer;
}
.content--editable:hover:after{
  content: '✎';
  position: absolute;
  width: 20px;
  height: 20px;
  top:0;left:-15px;
}
.content--editable span{
  pointer-events: none;
}
.content--editable input, .content--editable textarea{
  width: 87%;
  padding: 3px;
  height:2em;
}
.content--editable textarea{
  height: 5em;
}
.item-edit-modal{
  position: absolute;
  top: 0;
  left:0;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-editor table .section-seperator {
  width: 100%;
  height:30px;
  padding-bottom: 15px;
  border-bottom: solid 2px $dark-grey;
}
.item-editor table .section-seperator + tr {
  height: 1em;
}
.item-editor th[data-key='title'] textarea, .item-editor th[data-key='price'] textarea, .item-editor th[data-subkey='price'] textarea{
  height: 2em;
}

table.descriptions{
  tr:nth-child(even){
    background-color: rgba(0,0,0,0.1);
  }
  th{
    padding: 1em 0.2em;
    vertical-align: middle;
  }
}

.item-editor a{
  text-decoration: none;
}
.item-editor .modify-description{
  font-size: 20px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  border: none;
  background: none;
}
.item-editor .delete-description button{
  color: darken($red-warn, 12);

}
.item-editor .add-description button {
  color: $green-revert;
}
.item-editor table{
  text-align: left;
  font-family: sans-serif;
  position: relative;
  border-collapse: collapse;
  width: 100%;
  display: inline-table;
}

tr.title, tr.price, tr.header{
  height: 2.5em;
}

/*
Table Columns
*/

.item-editor th.delete-description{
  width: 10%;
  text-align: left;
}

.item-editor th[data-subkey='text']{
  width:80%;
}

.item-editor th[data-subkey='price']{
  width:20%;
  text-align: left;
}

@media(max-width: 550px){
  .item-edit-modal{
    align-items: flex-start;
  }
  .item-editor{
    min-height: 100%;
  }
}
